.content{
	margin: 0 100px;
}

img {
  width: 100px;
  height: 100px;
}
/* did the header I think */
.header{
	/* put them in the same line and create space between them */
	display: flex;
	justify-content: space-between;
}
ul {
	/* remove the dash and create sapce and padding bn them */
	list-style-type: none;
	margin: 4px;
	padding: 4px;
	/* so they are displayed in a single row */
	display: flex;
}
a {
	/* create space between them */
	margin: 14px;
	/* remove the underline and change color */
	text-decoration: none;
	color: #e5e7eb;
}

/* did part 1 I think */
.content_img{
	display: flex;
	justify-content: space-between;
	text-align: left;
}
.button_1{
	margin: auto;
}
#main_img{
	width:400px;
	height: 250px;
	display: flex;
}

.content_one{
	flex-direction: column;
	width: 400px;
	display: flex;
}

/* to make the part 2 and 3 alignment */
.content_2_3{
	margin: 20px 200px;
}
/* did the part 2 I think */
.part_2{
	text-align: center;
}
.images_with_text{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}
.info{
	max-width: 200px;
}

/* did part 3 I think */
.part_3{
	display: flex;
	justify-content: center;
	align-items: center;
}

.writer{
	text-align: right;
	font-weight: bold;
}


/* doing part 4 */
.info_button{
	margin: 50px 0px;
	padding: 30px;
	display: flex;
	justify-content: space-between;
}

.title_three{
	font-size: 18px;
	font-weight: bold;
	color: white;
}
.subtitle_two{
	color: white;
}

/* did the footer I think */
.part_5{
	/* changing color of footer text */
	color: #F9FAF8;
	/* padding of the content */
	padding: 15px;
	/* centering the footer */
	display: flex;
	justify-content: center;
	align-items: center;
}
