.part_1, .part_5{
	/* making the footer and part 1 dark background */
	background-color: #1f2937;
}
.everything{
	margin-right: 50px;
	margin-left: 50px;
}
.title_one{
	font-size: 48px;
	font-weight: extra-bold;
	color: #F9FAF8;
}
.subtitle_one, .left_header{
	/* changing font size and color */
	font-size: 18px;
	color: #E5E7EB;
}
.right_header{
	/* size and color of Header Logo */
	font-size: 24px;
	color: #F9FAF8;
}
button{
	background-color: #3882F6;
}
.title_two{
	font-size: 36px;
	font-weight: extra-bold;
	color: #1f2937;
	margin: 32px;
}
.part_3{
	/* background color of quote section */
	background-color: #E5E7EB;
}
.quote{
	font-size: 36px;
	font-weight: light;
	font-style: italic;
	color: #1f2937;
}

/* did the header I think */
.header{
	/* put them in the same line and create space between them */
	display: flex;
	justify-content: space-between;
}
.right_header{
	/* TODO: figure out how this auto works */
	margin: auto;
}
.left_header{
	/* TODO: figure out this auto */
	margin: auto;
	color: #E5E7EB;
}
ul {
	/* remove the dash and create sapce and padding bn them */
	list-style-type: none;
	margin: 4px;
	padding: 4px;
	/* so they are displayed in a single row */
	display: flex;
}
a {
	/* create space between them */
	margin: 14px;
	/* remove the underline and change color */
	text-decoration: none;
	color: #e5e7eb;
}
img {
  width: 100px;
  height: 100px;
}
/* did the part 2 I think */
.part_2{
	text-align: center;
}
.images_with_text{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}
.info{
	max-width: 170px;
}

.content_one{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.title_one{
	display: flex;
	justify-content: flex-start;
	margin: auto;
}
/* did part 3 I think */
.part_3{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	padding: 50px;
}
.content_two{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 900px;
}
.writer{
	text-align: right;
	font-weight: bold;
}
/* doing part 4 */
.part_4{

}

.title_three{
	font-size: 18px;
	font-weight: bold;
}
/* did the footer I think */
.part_5{
	/* changing color of footer text */
	color: #F9FAF8;
	/* padding of the content */
	padding: 15px;
	/* centering the footer */
	display: flex;
	justify-content: center;
	align-items: center;
}
/* TODO: make the background of part 2 and part 4 white */
/* TODO: for part 4 uses border to make it blue or padding*/
/* TODO: check how to app Copyright symgol in CSS */
/* TODO: get small pictures for testing and add img elements to the HTML and include alt text for them */
/* TODO: make sure to make the width and height of the pics equal*/
