/* This is the given styles */

.part_1, .part_5{
	background-color: #1F2937;
}
.title_one{
	font-size: 48px;
	font-weight: extra-bold;
	color: #F9FAF8;
}
.subtitle_one, .left_header{
	font-size: 18px;
	color: #E5E7EB;
}
.right_header{
	font-size: 24px;
	color: #F9FAF8;
}
button, .info_button{
	background-color: #3882F6;
}
.title_two{
	font-size: 36px;
	font-weight: extra-bold;
	color: #1F2937;
}
.part_3{
	background-color: #E5E7EB;
}
.quote{
	font-size: 36px;
	font-weight: light italic;
	color: #1F2937;
}
